body {
}

#divToGetID
{
    min-width:50%;
    width:90%;
    height:200px;
    align-items:center;
    float:inherit;
    
}

.column
{   
    width:20%;
    align-items:center;
    margin:20px;
    padding:20px;
    float:left;
}

#ListOfNipFormat
{
    list-style-type:none;
}

.btn
{
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#connectionColumn
{}

#fieldToShowInformation
{
    min-width:50%;
    width:90%;
    height:200px;
    align-items:center;
    margin:20px;
    padding:20px;
    float:left;

}
